<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1> My Expertise </h1>
                <p> {{site.user_description}} </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center text-center">
        <div class="col-md-4 about-col">
            <h2>Front End</h2>
            <i class="devicon-html5-plain-wordmark colored"></i>
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <i class="devicon-vuejs-plain-wordmark colored"></i>
            <p>
                My preferred stack for building front ends is HTML5 with Bootstrap and VueJS for rapid development. However,
                I have intimate knowledge with Angular/React, jQuery, Vanilla JavaScript, Sass/Less/CSS
            </p>
        </div>
        <div class="col-md-4 about-col">
            <h2>Back End</h2>
            <i class="devicon-php-plain colored"></i>
            <i class="devicon-laravel-plain-wordmark colored"></i>
            <i class="devicon-mysql-plain-wordmark colored"></i>
            <p>
                Strongest in PHP, prefer to work in Laravel for rapid development and building databases using MySql. Also
                have used Ruby/Python for web scripting, Yii/CakePHP/Symphony for frameworks and Amazon RDS
            </p>
        </div>
        <div class="col-md-4 about-col">
            <h2>Environments</h2>
            <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
            <i class="devicon-docker-plain-wordmark colored"></i>
            <i class="devicon-git-plain-wordmark colored"></i>
            <p>
                Preferred hosting with Amazon. Used many styles with single servers through load balanced. Set up local dev
                and staging/QA environments with docker or vagrant. Prefer Git as source control and as a host for simple
                sits (like this one)
            </p>
        </div>
        <div class="col-md-4 about-col">
            <h2>Tools</h2>
            <i class="devicon-phpstorm-plain-wordmark colored"></i>
            <i class="devicon-vim-plain colored"></i>
            <i class="devicon-slack-plain-wordmark colored"></i>
            <p>
                I switch between liking PHPStorm and Vim more depending on the project and environment.
            </p>
        </div>
    </div>
</div>