<div id="particles-js">
    <div class="header">
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
        <div class="header-icons">
            <a class="icon" aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="icon" aria-label="My Twitter" target="_blank" href="https://www.twitter.com/{{site.twitter_username}}">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="icon" aria-label="My Stack Overflow" target="_blank" href="https://stackoverflow.com/users/{{site.stackoverflow_username}}">
                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </a>
            <a class="icon" aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
        </div>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Me</a>
            <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
