<div class="user-details">
    <h1> My Projects and Ideas</h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="golf tournament" src="{{ "/assets/img/golfHeader.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3> Raffle Tools </h3>
        <ul>
            <li>Non Profit Fundraising Toolbox</li>
        </ul>
        <p>
            Problem: Your golf tournament is a fundraiser, but everyone is busy networking and golfing that the
            fundraising takes a back seat.
        </p>
        <p>
            Solution: During registration, participants download the app or register a phone number for SMS alerts.
            Each hole's sponsor can interact with the foursome via the app. Participants receive updates of bids or wins
            immediately. Everyone can stay engaged with the fundraising while never leaving the course.
        </p>
        <a class="project-link" href="#">Check it out</a>
    </div>
</div>
<!--<div class="user-projects">-->
    <!--<div class="images-left">-->
        <!--<img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />-->
    <!--</div>-->
    <!--<div class="contents-right">-->
        <!--<h3> Project Title </h3>-->
        <!--<ul>-->
            <!--<li> Featured Skills</li>-->
        <!--</ul>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et-->
            <!--dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex-->
            <!--ea commodo consequat.</p>-->
        <!--<a class="project-link" href="#">Check it out</a>-->
    <!--</div>-->
<!--</div>-->
