<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>
                My Projects and Ideas
            </h1>
        </div>
    </div>
    {% comment %}after establishing some content and tagging blog articles with project and idea, refactor this to only show blogs with those tags{% endcomment %}
    {% assign toggle = true %}
    {% for post in site.posts %}
    {% if toggle != true %}
    {% assign toggle = true %}
    {% else %}
    {% assign toggle = false %}
    {% endif %}
    <div class="row">
        <div class="col-md-6 order-md-{% if toggle == true %}2{% else %}1{% endif %}">
        {% if post.cover %}
        <a class="post-card-image-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
            <img class="img-fluid pt-5" alt="" src="{{ site.baseurl }}{{ post.cover }}" />
        </a>
        {% endif %}
        </div>
        <div class="col-md-6 order-md-{% if toggle == true %}1{% else %}2{% endif %}">
            <h3 class="pt-3 pt-sm-5">{{ post.title }}</h3>
            <p>{{ post.content | strip_html | truncatewords: 33, "" }}</p>
            <a class="project-link btn" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" role="button">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>
